@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>Controller</h1>
    <p>Controller інтерпретує дії користувача, сповіщаючи модель про необхідність змін </p>
    <p>Контролер забезпечує «зв'язок» між користувачем та системою. Контролює та спрямовує дані від користувача до системи та навпаки. Використовує модель та подання для реалізації необхідної дії.</p>
}