@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>View</h1>
    <p>View відповідає за відображення даних моделі користувачу, реагуючи на зміни модел</p>
    <p>Подання відповідає за отримання необхідних даних з моделі та надсилає їх користувачу. Подання не обробляє введені дані користувача</p>
}
